$primary: #f7941d;
$grey-1: #d9dadb;
$grey-2: #707070;
$grey-3: #414042;
$grey-4: #383838;
$error: #b9482c;

// Responsive
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  hd: 1920px
);
